<h1>Update task</h1>

<%= form_for(@task) do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :details %>
  <%= f.text_field :details %>
  <%= f.submit %>
<% end %>

<input type="checkbox">Completed>

<button type="submit" class="btn btn-primary">Update Task></button>

<p>
  <%= link_to "Back to list", task_path(@task), method: :index %>
</p>
